<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        
        <!-- Version 4.3.2 -->
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
        
        <!-- put in font awesome -->
       <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
        
        <!-- put in google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Michroma|Maven+Pro' rel='stylesheet' type='text/css'>
        
        <link href='style.css' rel='stylesheet' type='text/css'>
        <style type="text/css">

              /*This is used to see help see your 12 column grid*/
              /** {
              border: 1px solid red;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              }*/
              /* You will put the rest of the styles here */
        </style>
    </head>
    <body>
    <div class="row">
      <div class="large-12 columns">
        <h2>Find a Friend</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns"></div>
      <div class="large-11 columns">
        <% @users.each do |user| %>
        <h4 id = "link">
          <%= link_to user.first_name, user_path(user.id) %> 
          <%= link_to user.last_name, user_path(user.id) %>
        </h4>
        <p><%= user.about.truncate(35) %></p>
        <p><%= image_tag user.user_image.url(:thumb).to_s  %></p>
        <br>
        <% end %>
      </div>
    </div>
  </body>
</html>