<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        
        <!-- Version 4.3.2 -->
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
        
        <!-- put in font awesome -->
       <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
        
        <!-- put in google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Michroma|Maven+Pro' rel='stylesheet' type='text/css'>
        
        <link href='style.css' rel='stylesheet' type='text/css'>
        <style type="text/css">

              /*This is used to see help see your 12 column grid*/
              /** {
              border: 1px solid red;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              }*/
              /* You will put the rest of the styles here */
        </style>
    </head>
    <body>

              <!-- Nav Bar -->
        <div class="row">
          <div class="large-9 columns"></div>
          <div class="large-3 columns">
             <ul class="inline-list">
                <!-- <li><a href="index.html">Home</a></li> -->
                <li><a href="/users/sign_up">Sign-Up</a></li>
                <li><a href="/users/sign_in">Log-In</a></li>
              </ul> 
            </div>
          </div>
        </div>

      
      <!-- Title -->    
        <div class="row">
          <div class="large-12 columns">
            <h1> WEIGHTABLE </h1>
          </div>
        </div>  

        <div class="row">
          <div class="large-12 columns">
            <p class="intro"> Join us in a healther lifestyle today! Track your weightloss and encourage your friends to do the same.</p>
          </div>
        </div>  




      <!-- Weightable Banner -->
        <div class="row">
          <div class="large-11 columns">
          <!-- Weightable - place in a paragraph to enforce the modular scale spacing -->
            <p><%= image_tag "banner.jpg" %></p>
          </div>
        </div>
      </body>
    </html>

