<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        
        <!-- Version 4.3.2 -->
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
        
        <!-- put in font awesome -->
       <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
        
        <!-- put in google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Michroma|Maven+Pro' rel='stylesheet' type='text/css'>
        
        <link href='style.css' rel='stylesheet' type='text/css'>
        <style type="text/css">

              /*This is used to see help see your 12 column grid*/
              /** {
              border: 1px solid red;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              }*/
              /* You will put the rest of the styles here */
        </style>
    </head>
    <body>
      <div class="row">
        <div class="large-9 columns">
          <h2>Post Today's Weight</h2>
        </div>
      </div>
      
      <div class="row">
       <div class="large-2 columns"></div>
       <div class="large-6 columns">
          <% @weighin = Weighin.new %>
          <%= render 'form' %>


          <%= link_to 'Back', user_path(current_user.id) %>
        </div>    
        <div class="large-4 columns"></div>  
      </div>  
    </body>
  </html>