/*This is the css style sheet used for weightable website*/

body {
 font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}

.top-bar  {
  font-family: 'Michroma', sans-serif;
  font-size: 14px;
}

.top-bar .title-area .name h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 14px;
}

.intro {
  text-align: center;
}

/*Used for all the titles on each page*/
.row h1 {
  font-family: 'Michroma', sans-serif;;
  color: #7BA428;
  text-align: center;
}

.row h2 {
  font-family: 'Michroma', sans-serif;
  color: #7BA428;
}

/*Used for the smaller hearers with paragraphs*/
h2 {
  font-family: 'Maven Pro', sans-serif;
  color: #7BA428;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
  color: #7BA428;
}

h4 {
  font-family: 'Maven Pro', sans-serif;
}

.row p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
}

